body {
  font-size: 12px;
  font-family: "Gotham SSm A", "Gotham SSm B";
  background-color: rgba(0, 0, 0, 1);
  background-size: cover;
  color: #fff;
  display: grid;
  place-items: center center;
  height: 100vh;
  overflow: hidden;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.upper-half {
  height: 33vh;
  width: 90%;
  right: 0;
  top: 2%;
  left: 0;
  position: absolute;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.middle-third {
  height: 33vh;
  text-align: right;
  position: absolute;
  right: 4%;
}

.lower-half {
  height: 33vh;
  width: 90%;
  right: 0;
  bottom: -5%;
  left: 0;
  position: absolute;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container--small {
  flex-grow: 1;
  width: 20%;
}

.twitter {
  width: 100%;
}

.container--mid {
  width: 70vw;
}

.bxslider {
  list-style-type: none;
  padding: 0;
}

.weather-icon {
  fill: #fff;
}
