body {
  font-size: 20px;
  font-family: "Gotham SSm A", "Gotham SSm B";
  background: url('../img/bg-purple.jpg');
  background-size: cover;
  color: #fff;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.upper-half {
  width: 99%;
  right: 0;
  top: 0;
  left: 0;
  position: absolute;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.lower-half {
  width: 99%;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: 0 auto;
}

.container--small {
  flex-grow: 1;
}

/* Weather Container */

.weather--container {
  float: right;
}

.weather-content {
  display: inline-block;
  vertical-align: middle;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon img {
  display: block;
  width: 120px;
  height: 120px;
  fill: #fff;
  color: #fff;
}

.forcast--container {
  display: block;
}

.forcast--container h2 {
  border-bottom: 5px white solid;
  padding-bottom: 20px;
}

.forcast--container.weather--container ul {
  width: 100%;
  display: flex;
  list-style: none;
  float: right;
  position: relative;
  text-align: center;
  margin: 0;
}

.forcast--container.weather--container ul li {
  flex-grow: 1;
  text-align: center;
  display: table-cell;
}

.day--forcast h3 {
  margin: 0;
}

.icon--forecast {
  /* flex-grow: 1; */
}

.icon--forecast img {
  width: 90px;
  height: 90px;
}

.temp--forcast {
  /* flex-grow: 1; */
}

/* News Container */

.article--item {
  list-style-type: none;
  position: relative;
  height: 150px;
}

.article--item .article--title,
.article--item .article--description {
  text-align: justify;
}

.article--item .article--description {
  margin-bottom: 0;
}

.article--item .article--source {
  font-size: 0.8rem;
  margin: 0;
  opacity: 0.7;
}

.bx-wrapper {
  box-shadow: none !important;
  background: none !important;
  border: none !important;
  margin-bottom: 10px !important;
}