/* Weather Container */

.weather--container {
  width: 50%;
}

.weather-content {
  display: inline-block;
  vertical-align: top;
}

.temp--main {
  margin-bottom: 5px;
  font-size: 0.9rem;

}

.location {
  margin-top: 0;
  font-size: 0.7rem;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  position: relative;
}

.icon img {
  display: block;
  width: 100%;
  height: auto;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.forcast--container h2 {
  text-align: left;
  font-size: 1.2rem;
}
