extends layout

block content
  -var upperHalfClasses = ["upper-half", "container--large"]
  div(class=upperHalfClasses)
    div.container--small
      include templates/date
    div.container--small
    div.container--small
      include templates/weather
  -var lowerHalfClasses = ["lower-half", "container--large"]
  div(class=lowerHalfClasses)
    include templates/news
