doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/font-gotham.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bx-slider.css')
    //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css')
  body
    block content
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js")
    script
      include ../public/js/moment.js
      include ../public/js/script.js
