.tweet {
  padding: 20px 0;
  border-radius: 13px;
  height: 150px;
  width: 70%;
  float: right;
}

.user-info {
  display: block;
  text-align: right;
}

.user-info h3,
.user-info img {
  display: inline-block;
  vertical-align: top;
  margin: 0 7px;
}

.user-info img {
  border-radius: 6px;
}

.user-info h3 {
  line-height: 20px;
  text-align: left;
  margin: 2px 0;
}

.user-info h3 span {
  font-weight: normal;
  font-size: 0.8rem;
}

.tweet-content {
  text-align: right;
}

.tweet-meta {
  text-align: right;
  color: #6A7783;
}