/* News Container */

.article--item {
  list-style-type: none;
  position: relative;
  height: 150px;
  width: 80%;
}

.article--item .article--title,
.article--item .article--description {
  text-align: justify;
}

.article--item .article--description {
  margin-bottom: 0;
}

.article--item .article--source {
  font-size: 0.8rem;
  margin: 10px 0 0;
  opacity: 0.7;
  text-align: left;
  color: #6A7783;
}

button[data-action="stop"] {
  display: none !important;
}