.forcast--container {
  display: block;
  width: 30%;
}

.forcast--container.weather--container ul {
  display: flex;
  list-style: none;
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
  align-items: stretch;
}

.forcast--container.weather--container ul li {
  flex-grow: 1;
  text-align: center;
  display: table-cell;
}

.icon--forecast {
  min-height: 50px;
  width: 50px;
  position: relative;
  margin-bottom: 10px;
}

.day--forecast h3 {
  text-align: center;
  margin: 0;
}

.icon--forecast img {
  margin: 0 auto;
  display: block;
  width: 90%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}