.instagram {
  width: 250px;
  
}

.post-container {
  float: right;
}

.instagram-post:before {
  content: '';
  height: 40px;
  width: 100%;
  background: url('/img/header.png') top center;
  background-size: cover;
  display: block;
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.instagram-post {
  width: 250px;
  position: relative;
  height: auto;
  padding-top: 290px;
  display: block;
  overflow: hidden;
  object-fit: fill;
}

.instagram-post img {
  object-fit: fill;
  height: 320px;
  position: absolute;
  top: 40px;
  left: 0;
  margin: 0 auto;
  display: block;
  right: 0;
}